*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,
body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:#39503fdf;
}
#panel{
    background-color: rgba(151, 181, 208, 0.832);
    width: 80%;
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
}
#ptop {
    padding: 0px 25%;
    background-color: rgba(60, 99, 69, 0.807);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem{
    display: flex;
     color: #fff;
    align-items: center;
    gap: 20px;
}
.box{
padding: 10px 20px;
color: rgb(94, 179, 158);
background-color: #f9f8f8;
border-radius: 5px;
border-radius: 5px;
font-size: 25px;
font-weight: 700;
}
#pbtm{
    color: #598468;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
}
.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: rgb(70, 99, 89);
    color: #598468;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(50, 75, 50);
}